* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
select,
button,
option {font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  line-height: 120%;
  letter-spacing: 0.02em;
  background-color: #09090B;
  color: #f4f4f5;
}

:root {
  font-size: 62.5%;
  --bg-color: hsl(240, 10%, 4%);
  --input-border-color: hsl(240, 4%, 16%);
  --bg-secondary: hsl(80, 61%, 50%);
  --bg-button: hsl(82, 85%, 67%);
  --card-bg: hsl(240, 6%, 10%);
  --txt-color-btn: hsl(89, 80%, 10%); 
  --txt-color-time: hsl(240, 6%, 65%);
}

#app {
  padding: 4rem 2rem;
  margin: auto;
  max-width: 320px;
}

#place {
  display: flex;
  align-items: center;
  gap: .8rem;

  padding: 2.2rem 1.6rem;
  font-size: 1.4rem;
  margin-bottom: 3.2rem;
}

input,
select {
  all: unset;
}

input,
select,
button {
  width: 100%;
}

.fieldset {
  display: grid;
  gap: .8rem;
}

.field-wrapper {
  padding: 1rem 1.6rem;
  background-color: var(--bg-color);
  border: 1px solid var(--input-border-color);
  border-radius: .8rem;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.field-wrapper:focus-within {
  outline: .2rem solid var(--bg-secondary);
}

button {
  margin-top: 1.2rem;
  border: none;
  padding: 1.2rem 2.0rem;
  border-radius: .8rem;
  background-color: var(--bg-button);

  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: -0.02em;

  color: var(--txt-color-btn);


}

.card-bg {
  background: var(--card-bg);
  box-shadow: 0px 8px 8px 
  rgba(0, 0, 0, 0.1), 0px 4px 4px
  rgba(0, 0, 0, 0.1), 0px 2px 2px
  rgba(0, 0, 0, 0.1), 0px 0px 0px 1px 
  rgba(0, 0, 0, 0.1), 
  inset 0px 0px 0px 1px  rgba(255, 255, 255, 0.03), 
  inset 0px 1px 0px  rgba(255, 255, 255, 0.03);
  border-radius: 1.2rem;

}

main {
  margin-top: 3.2rem;
}

h1 {
  text-align: center;
  font-weight: 600;
  font-size: 2.4rem;

  margin-bottom: 2.4rem;
}

section {
  display: grid;
  gap: 1rem;
}

section input[type="checkbox"] {
  position: absolute;
  inset: 0; /* preenche a caixa toda */
}

section .card-bg {
  position: relative;
  padding: 1rem 1.6rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

section .card-bg:has(:checked) .active,
section .card-bg .inative {
  display: block;
}

section .card-bg:has(:checked) .inative,
section .card-bg .active {
  display: none;
}
/* pegando o 1 nivel de div */
section .card-bg > div {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

time {
  font-size: 1.4rem;
  color: var(--txt-color-time);
  text-align: right;
}

time.full {
  display: none;
}

/* Media Queries */

@media (width > 1024px) {
  #app {
    display: flex;
    max-width: 960px;
    gap: 3.2rem;
  }

  main {
    margin-top: 0;
    flex: 1;
  }

  h1 {
    text-align: left;
  }

  time.full {
    display: block;
  }

  time.short {
    display: none;
  }


  section .card-bg {
    animation: appear 2s;
  }
  @keyframes appear {
    from {
      opacity: 0;
    }
  }
}